<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="1" value="污染源" />
        <add key="2" value="客户" />
        <add key="4" value="供应商" />
        <add key="8" value="考核单位" />
        <add key="16" value="分包商" />
        <add key="32" value="生产厂商" />
        <add key="64" value="鉴定机构" />
        <add key="128" value="运营商" />
        <add key="256" value="256" />
        <add key="512" value="512" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>